<!DOCTYPE html>
<html>
<table class="table table-striped">
<thead>
<tr>
<td>ID</td>
<td>Name</td>
<td>Amount</td>
</thead>
<tbody>
<% @expenses.each do |expense| %>
<tr>
<td><%= expense.id %></td>
<td><%= expense.name %></td>
<td><%= expense.amount %></td>
<td><a href="/show/:id %>" class="btn btn-default btn-primary">Details</a></td>
</tr>
<% end %>          
</tbody>          
</table>
